<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Welcome to Basri's Playground!</title>
        {% endif %}
    </head>
    <body>
         <div>
        Welcome to Basri's Playground!
        <a href="{{ url_for('randommeal') }}">Random_Meal</a>
        <a href="{{ url_for('dice') }}">Random_Dice</a>
        <a href="{{ url_for('suggestions') }}">Random_Suggestions</a>
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
