{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Welcome to Basri's Playground!</title>
        {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        ___Welcome to Basri's Playground!
    </nav>
    <nav class="navbar navbar-default">
        <a href="{{ url_for('randommeal') }}">>Get me a random meal!</a>
        <a href="{{ url_for('dice') }}">>Let's play a dice game!</a>
        <a href="{{ url_for('suggestions') }}">>Any suggestions?</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>  
{% endblock %}
