{% extends "base.html" %}

{% block content %}
    <h1>Basri Form2</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.var1.label }}<br>
            {{ form.var1(size=32) }}<br>
            {% for error in form.var1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.var2.label }}<br>
            {{ form.var2(size=32) }}<br>
            {% for error in form.var1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}
        </p>
    </form>
{% endblock %}
